body * {
    box-sizing: border-box;

}


body {
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 350px; */
    /* margin-right: 352px;
    height: 450px; */
}

.card{
    border: 1px solid gray;
    width: 350px;
}

img{
    width: 100%;
}

h2 {
    margin-left: 10px;
}

p{
    padding-right: 10px;
    padding-left: 10px;
}

button{
    margin-left: 10px;
    margin-bottom: 10px;
}

/*
Part 2: Put the main element (the card's parent container)
into flex mode (display: flex) and adjust the 
justify-content and align-items properties to center the card.
*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*
Part 1: Create some style blocks to style the card. 
    Experiment with: border, padding, margin, height, and width.
*/
