html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home {
    background-color: blue;
    color: white
}

#bio {
    background-color: aquamarine;
}

#portfolio {
    background-color: rgb(52, 88, 103);
    color: white;
}

#contact {
    background-color: dodgerblue;
}

/* create additional rules below:  */